<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jju.yuxin.reforceapk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ProxyApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="APPLICATION_CLASS_NAME"
            android:value="com.jju.yuxin.sourceproject.SourceApplication"/>

        <activity android:name="com.jju.yuxin.sourceproject.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.jju.yuxin.sourceproject.SubActivity">
        </activity>
    </application>

</manifest>